.main-title{
    text-align: right;
    text-transform: capitalize;
}
div {
    margin-bottom: 10px;
}

label {

    margin-right: 20px;
    margin-left: 20px;
    /* display: inline-block;
    width: 200px;
    color: black; */
}
input {
    padding: 5px 10px;
    border: 1.5px solid black;
}

#district{
    display: flex;
}